Repository siam1113/unleashed, changes with the labels that .github/labeler.yml gives for each.
All labels: web, server, ui

.github/labeler.yml:

"web":
  - apps/web/**

"server":
  - apps/server/**

"ui":
  - packages/ui/**

Create codeql.yml
  .github/workflows/codeql.yml
Labels: none

add: generate highlights and update: ui & api endponts
  .gitignore
  apps/server/constants/constants.ts
  apps/server/db/queries/profile.ts
  apps/server/index.ts
  apps/server/package.json
  apps/server/processors/profile.ts
  apps/server/processors/users.ts
  apps/server/routes/profile.ts
  apps/server/utils/cloudinary.ts
  apps/server/utils/gpt.ts
  apps/web/components/authenticator.tsx
  apps/web/components/experience.tsx
  apps/web/components/personality.tsx
  apps/web/components/profile-highlights.tsx
  apps/web/components/skills.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/pages/login.tsx
  apps/web/pages/profile.tsx
  apps/web/pages/profiles/[id].tsx
  apps/web/pages/signup.tsx
  apps/web/public/profile.png
  apps/web/renderers/renderers.tsx
  apps/web/styles/global.css
  packages/ui/tailwind.config.js
  pnpm-lock.yaml
Labels: web, server, ui

fix: deployment
  apps/web/components/navbar.tsx
Labels: web

fix: eslint
  .eslintignore
  .eslintrc.js
  apps/web/package.json
  package.json
  packages/ui/.eslintrc.js
  packages/ui/components/button.tsx
  packages/ui/components/card.tsx
  packages/ui/components/code.tsx
  packages/ui/index.ts
  packages/ui/tsconfig.lint.json
Labels: web, ui

fix: export error
  apps/web/components/navbar.tsx
Labels: web

fix: type error
  apps/web/renderers/renderers.tsx
  apps/web/types/type.ts
Labels: web

fix: build errors
  apps/web/components/dashboard.tsx
  apps/web/components/experience.tsx
  apps/web/components/personality.tsx
  apps/web/components/skills.tsx
  apps/web/pages/find/individual.tsx
Labels: web

fix: import error in server
  apps/server/db/setup.ts
  apps/server/index.ts
Labels: server

fix: import error
  apps/server/processors/profile.ts
Labels: server

update: load env variables
  apps/web/components/experience.tsx
  apps/web/components/personality.tsx
  apps/web/components/profile-highlights.tsx
  apps/web/components/skills.tsx
  apps/web/pages/login.tsx
  apps/web/pages/profile.tsx
  apps/web/pages/profiles/[id].tsx
  apps/web/pages/signup.tsx
  turbo.json
Labels: web

update: env variable name
  apps/web/components/experience.tsx
  apps/web/components/personality.tsx
  apps/web/components/profile-highlights.tsx
  apps/web/components/skills.tsx
  apps/web/pages/login.tsx
  apps/web/pages/profile.tsx
  apps/web/pages/profiles/[id].tsx
  apps/web/pages/signup.tsx
Labels: web

fix: load env variable
  .gitignore
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/profile.tsx
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: web

fix: update env var config
  apps/web/components/experience.tsx
  apps/web/components/personality.tsx
  apps/web/components/profile-highlights.tsx
  apps/web/components/skills.tsx
  apps/web/pages/login.tsx
  apps/web/pages/profiles/[id].tsx
  apps/web/pages/signup.tsx
Labels: web

add: searh inidividual and update: ui
  apps/server/db/queries/find.ts
  apps/server/index.ts
  apps/server/processors/find.ts
  apps/server/processors/users.ts
  apps/server/routes/find.ts
  apps/server/utils/gpt.ts
  apps/web/components/experience.tsx
  apps/web/components/navbar.tsx
  apps/web/components/profile-highlights.tsx
  apps/web/components/skills.tsx
  apps/web/pages/find/individual.tsx
  apps/web/pages/profile.tsx
  apps/web/pages/profiles/[id].tsx
  apps/web/renderers/renderers.tsx
  apps/web/styles/global.css
Labels: web, server

add: auth component
  apps/server/constants/constants.ts
  apps/server/processors/profile.ts
  apps/web/components/authenticator.tsx
  apps/web/components/loader.tsx
  apps/web/components/profile-highlights.tsx
  apps/web/middleware.ts
  apps/web/pages/_app.tsx
  apps/web/pages/index.tsx
  apps/web/pages/login.tsx
  apps/web/pages/profiles/[id].tsx
  apps/web/renderers/renderers.tsx
  apps/web/routes.config.ts
  apps/web/utils/pathMatcher.ts
Labels: web, server

fix: sign up route
  apps/web/routes.config.ts
Labels: web

update authentication component return statement
  apps/web/components/authenticator.tsx
  apps/web/pages/index.tsx
  apps/web/routes.config.ts
Labels: web

update authenticator component
  apps/web/components/authenticator.tsx
  apps/web/routes.config.ts
Labels: web

fix: gpt url formatting
  apps/server/utils/gpt.ts
Labels: server

docs: replace Turborepo boilerplate README with project description
  README.md
Labels: none
